<div class="column" [class]="'column-' + status()">
  <div class="column-header">
    <h3>
      @switch (status()) {
        @case ('todo') {
          <mat-icon>radio_button_unchecked</mat-icon>
        }
        @case ('in-progress') {
          <mat-icon>pending</mat-icon>
        }
        @case ('done') {
          <mat-icon>check_circle</mat-icon>
        }
      }
      {{ title() }}
    </h3>
    <span class="task-count">{{ tasks().length }}</span>
  </div>
  
  <div class="column-content">
    @for (task of tasks(); track task.id) {
      <app-task-card 
        [task]="task"
        (click)="taskClick.emit(task)"
        (statusChange)="onStatusChange(task, $event)"
      />
    } @empty {
      <div class="empty-column">
        <mat-icon>inbox</mat-icon>
        <p>No tasks</p>
      </div>
    }
  </div>
</div>
